{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        // "commentPattern": "error",
        "react-hooks/exhaustive-deps": "off",
        "no-unused-vars": "warn",
        "no-console": "warn",
        "quotes": [
            "error",
            "single"
        ],
        "jsx-quotes": [
            "error",
            "prefer-double"
        ],
        "prefer-const": "error",
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "semi": [
            "warn",
            "never"
        ],
        "import/order": [
            "error",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index",
                    "object",
                    "type"
                ],
                "newlines-between": "always-and-inside-groups"
            }
        ]
    }
}
